---
// import GitHubButton from 'react-github-btn'
---

<div class="bottom-bar">
  <div class="bottom-bar-content">
    <!-- Your content here -->
    <a
      class="github-button" 
      href="https://github.com/sugarcane-ai/sugarcane-ai" 
      data-size="large"
      data-color-scheme="no-preference: dark; light: dark; dark: dark;" 
      aria-label="Star sugarcane-ai/sugarcane-ai on GitHub">Star
    </a>
    <p>Public launch on October 15th! 🚀 </p>
    <p>Support us on Github </p>
  </div>
</div>